
@{
    ViewBag.Title = "Usuarios";
}

<script src="~/assets/js/plugin/datatables/datatables.min.js"></script>
<link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>

    $(document).ready(function () {

        $('#IndexAdmin').addClass("nav-item active submenu");
        $('#o5').addClass('active show');

        $('#tabla01').DataTable({
            "searching": true,
            "paging": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            info: false,
        });

    });

    function GuardarNuevo() {
        $('#ModalNuevo').modal('hide');
        $.ajax({
            url: "/Administracion/UsuarioAgregar/",
            data: {
                nombre: $('#nNombre').val(),
                clave: $('#nClave').val(),
                contraseña: $('#nContraseña').val(),
                correo: $('#nCorreo').val(),
                rol: $('#nRol').val(),
                empresa: $('#nEmpresa').val()
            },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                $('#ModalNuevo').modal('hide');

                if (data === 2) {

                    swal({
                        title: 'CRM Retail',
                        text: 'Se guardó el registro',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        },
                    }).then(
                        function () {
                            $('#nNombre').val('');
                            $('#nCorreo').val('');
                            $('#nClave').val('');
                            $('#nContraseña').val('');
                            $('#nRol').val('');
                            //$('#mEmpresa').val(data.Id);
                            $("#nActivo").prop('checked', false);
                            $('#nId').val('');
                            location.href = '';
                        }
                    );
                }
                else {
                    swal({
                        text: "El correo que intenta agregar ya está ocupado por otro usuario, revise.",
                        icon: 'warning',
                        buttons: {
                            confirm: {
                                className: 'btn btn-warning'
                            }
                        }
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function ModalModificar(id) {
        //Seleccionar por id
        $.ajax({
            url: "/Administracion/UsuarioSeleccionarPorId/",
            data: { id: id },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                $('#ModalModificar').modal('show');

                $('#mNombre').val(data.Usuarios.Nombre);
                $('#mCorreo').val(data.Usuarios.Correo);
                $('#mClave').val(data.Usuarios.Clave);
                $('#mContraseña').val(data.Usuarios.Contraseña);
                $('#mRol').val(data.Roles.Id);
                $('#mEmpresa').val(data.Usuarios.Empresa);

                if (data.Usuarios.Activo) {                          // Para un checkbox
                    $("#mActivo").prop('checked', true);
                }
                else {
                    $("#mActivo").prop('checked', false);
                }

                $('#mId').val(data.Usuarios.Id);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

    function GuardarModificado() {
        //Guardar los datos modificados
        var valorActivo;
        if ($('#mActivo').is(":checked")) {
            //alert('Si');
            valorActivo = 1;
        }
        else {
            //alert('no');
            valorActivo = 0;
        }
        $.ajax({
            url: "/Administracion/UsuarioModificar/",
            data: {
                nombre: $('#mNombre').val(),
                clave: $('#mClave').val(),
                contraseña: $('#mContraseña').val(),
                correo: $('#mCorreo').val(),
                activo: valorActivo,
                rol: $('#mRol').val(),
                empresa: $('#mEmpresa').val(),
                id: $('#mId').val()
            },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                $('#ModalModificar').modal('hide');

                if (data === 1) {

                    swal({
                        title: 'CRM Retail',
                        text: 'Se modificó el registro',
                        buttons: {
                            confirm: {
                                className: 'btn btn-success'
                            }
                        },
                    }).then(
                        function () {
                            $('#mNombre').val('');
                            $('#mCorreo').val('');
                            $('#mClave').val('');
                            $('#mContraseña').val('');
                            $('#mRol').val('');
                            //$('#mEmpresa').val(data.Id);
                            $("#mActivo").prop('checked', false);
                            $('#mId').val('');
                            location.href = '';
                        }
                    );
                }
                else {
                    swal({
                        text: "No se guardó el registro, revise.",
                        type: 'warning'
                    });
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    }

</script>

<style>
    table.dataTable thead tr {
        background-color: #1a2035;
        color: white
    }

    .header th {
        height: 25px;
        line-height: 2px;
    }
</style>

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Usuarios</h4>
    </div>
    <div class="row">

        <div id="Espera" style="display:none; width:69px;height:90px;position:absolute;top:20%;left:50%;padding:2px;z-index:1000">
            <img src="../assets/img/spinner.gif" width="64" height="64" /><br />Cargando...
        </div>
    </div>

    <div class="card">

        <div class="card-body">

            <div class="row">

                <div class="col-md-12">
                    @Html.Partial("_MenuAdmin")
                </div>

            </div>

        </div>

    </div>

    <div class="card">

        <div class="card-body">

            <div class="row">

                <div class="col-md-12 text-right">

                    <button class="btn btn-default" data-toggle="modal" data-target="#ModalNuevo">Nuevo</button>

                </div>

            </div>

            <br />
            <div class="row">


                <div class="table-responsive">
                    <table id="tabla01" class="display compact table-striped table-hover" style="width:100%">
                        <thead class="header">
                            <tr>
                                <th>Nombre</th>
                                <th>Clave</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Activo</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.Usuarios == null)
                            {
                                <tr><td colspan="6" align="center">Sin datos para mostrar</td></tr>
                            }
                            @foreach (var items in ViewBag.Usuarios)
                            {
                                var mensaje = items.Usuarios.Activo == true ? "Activo" : "Inactivo";
                                <tr>
                                    <td>@items.Usuarios.Nombre </td>
                                    <td>@items.Usuarios.Clave</td>
                                    <td>@items.Usuarios.Correo</td>
                                    <td>@items.Roles.Nombre</td>
                                    <td>@mensaje</td>
                                    @*<td><a href="#" onclick="ModalModificar(@items.Usuarios.Id);">Detalle</a></td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>


            </div>

        </div>

    </div>

  
</div>

<div class="modal fade" id="ModalNuevo" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel">Agregar Nuevo Usuario del Sistema</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <div class="form-group form-inline">
                            <label for="nNombre" class="col-md-3 col-form-label fc-left">Nombre</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control form-control" name="nNombre" id="nNombre" placeholder="" required tabindex="1">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="nCorreo" class="col-md-3 col-form-label fc-left">Correo E.</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control form-control" name="nCorreo" id="nCorreo" placeholder="" required tabindex="4">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="nClave" class="col-md-3 col-form-label">Clave</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control form-control" id="nClave" name="nClave" placeholder="" required tabindex="5">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="nContraseña" class="col-md-3 col-form-label">Contraseña</label>
                            <div class="col-md-9 p-0">
                                <input type="password" class="form-control form-control" id="nContraseña" name="nContraseña" placeholder="" required tabindex="6">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="nRol" class="col-md-3 col-form-label">Rol</label>
                            <div class="col-md-9 p-0">
                                <select class="form-control form-control" id="nRol" name="nRol" required style="width: 250px" tabindex="7">
                                    <option value="">&nbsp;</option>
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        <option value="@item.Id">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="nEmpresa" class="col-md-3 col-form-label">Empresa</label>
                            <div class="col-md-9 p-0">
                                <select class="form-control form-control" id="nEmpresa" name="nEmpresa" required style="width: 250px" tabindex="6">
                                    <option value="">&nbsp;</option>
                                    @foreach (var item in ViewBag.Empresas)
                                    {
                                        <option value="@item.Id">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-check form-inline">
                            <label for="nActivo" class="col-md-3 col-form-label fc-left">Activo</label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="nActivo" name="nActivo">
                                <span class="form-check-sign"></span>
                            </label>
                        </div>


                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="GuardarNuevo();">Guardar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalModificar" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalLabel">Modificar Detalle del Usuario</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12 col-lg-12">

                        <div class="form-group form-inline">
                            <label for="mNombre" class="col-md-3 col-form-label fc-left">Nombre</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control input-solid" name="mNombre" id="mNombre" placeholder="" required tabindex="1">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="mCorreo" class="col-md-3 col-form-label fc-left">Correo E.</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control input-solid" name="mCorreo" id="mCorreo" placeholder="" required tabindex="4">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="mClave" class="col-md-3 col-form-label">Clave</label>
                            <div class="col-md-9 p-0">
                                <input type="text" class="form-control input-solid" id="mClave" name="mClave" placeholder="" required tabindex="5">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="mContraseña" class="col-md-3 col-form-label">Contraseña</label>
                            <div class="col-md-9 p-0">
                                <input type="password" class="form-control input-solid" id="mContraseña" name="mContraseña" placeholder="" required tabindex="6">
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="mRol" class="col-md-3 col-form-label">Rol</label>
                            <div class="col-md-9 p-0">
                                <select class="form-control input-solid" id="mRol" name="mRol" required style="width: 250px" tabindex="7">
                                    <option value="">&nbsp;</option>
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        <option value="@item.Id">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="mEmpresa" class="col-md-3 col-form-label">Empresa</label>
                            <div class="col-md-9 p-0">
                                <select class="form-control input-solid" id="mEmpresa" name="mEmpresa" required style="width: 250px" tabindex="6">
                                    <option value="">&nbsp;</option>
                                    @foreach (var item in ViewBag.Empresas)
                                    {
                                        <option value="@item.Id">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-check form-inline">
                            <label for="mActivo" class="col-md-3 col-form-label fc-left">Activo</label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="mActivo" name="mActivo">
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <input type="hidden" id="mId" />


                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="GuardarModificado();">Guardar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>